
@import url('https://fonts.googleapis.com/css?family=Fjalla+One&display=swap');

@import url('https://fonts.googleapis.com/css?family=Tomorrow&display=swap');

body, html {
    font-family: 'Fjalla One', sans-serif;
    height: 100%;
    margin: 0px;
}

img.sticky {
  position: absolute;
  bottom: 0;
  right: 0;
  width: 15%;
}

span {
    font-family: 'Tomorrow', sans-serif;
    font-size: 8vw;
    display: inline-block;
    margin: 0 0 0 2px;
}

.unit {
    display: inline;
    font-size: 5vw;
    /* margin: 0; */
}

.bg {
  /* The image used */
  background-image: url("../upload/kuva.jpg");

  /* Full height */
  height: 100%;

  /* Center and scale the image nicely */
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  padding-top: 30px;
}

p {
  text-align: center;
  margin-top: 0px;
  background-color: rgba(0,0,0,0.5);
  color: #fff;
  
}

.center p {
    width: 80%;
    margin: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    font-size: 2em;
}

.header {
    text-align: center;
}

.header h1 {
    margin-top: 10px;
    padding: 0.1vh;
    display: inline;
    text-align: center;
    font-size: 8vw;
    background-color: rgba(255,255,255,0.5)
    
}

@media only screen and (max-width: 600px) {
    center p {
        font-size: 3em;
    }
    span {
        font-size: 6vh;
    }

    .header h1 {
        font-size: 60px;
    }

    img.sticky {
        width: 50%;
    }

}

.footer {
    margin: 0; padding: 10px 0 0 0;
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    background-color: rgba(255,255,255,0.5);
    color: white;
    text-align: center;
    display: grid;
    grid-template-columns: auto auto auto;
}

.footer p {
    margin: 0; padding: 5px;
    font-size: 8vh;
    background-color: rgba(255,255,255,0);
}

.footer i {
  border: solid black;
  border-width: 0 10px 10px 0;
  display: inline-block;
  padding: 10px;
  cursor: pointer;
}

.right {
  transform: rotate(-45deg);
  -webkit-transform: rotate(-45deg);
  margin-right: 10px;
  margin-bottom: 10px;
}

.left {
  transform: rotate(135deg);
  -webkit-transform: rotate(135deg);
  margin-left: 10px;
  margin-bottom: 10px;
}

@media only screen 
    and (max-width: 820px) 
    and (orientation: landscape){
    

        span {
            font-size: 7vw;
        }

    .bg {
        width: 100%;
    }


    .header h1 {
        padding: 3px;
        margin: 10px 0;
        display: inline-block;
        text-align: center;
        font-size: 50px;
    }

    .center p {
        margin: 0;
        position: absolute;
        top: 60%;
        left: 50%;
        -ms-transform: translate(-50%, -50%);
        transform: translate(-50%, -50%);
}

}